<org.geoserver.security.config.SecurityInterceptorFilterConfig>
  <id>4c490b43:138a594e596:-7ff5</id>
  <name>interceptor</name>
  <className>org.geoserver.security.filter.GeoServerSecurityInterceptorFilter</className>
  <allowIfAllAbstainDecisions>false</allowIfAllAbstainDecisions>
  <securityMetadataSource>geoserverMetadataSource</securityMetadataSource>
</org.geoserver.security.config.SecurityInterceptorFilterConfig>