{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
{{ block.super }}
{% endblock %}

{% block main %}
<div class="twocol">
    <h2>{% trans "Add data" %}</h2>
    {% if incomplete %}
    <h3>Incomplete Uploads</h3>
    <p>You have the following incomplete uploads:</p>
    {% for u in incomplete %}
    <div class="clearfix" style="border: 1px solid gray; padding: .5em; margin: .5em">
        <div style="float:left">{{ u.name }}, last updated on {{ u.date }}</div>
        <div class="upload_actions" style="float:right">
            <a class="btn btn-mini" href="{{ u.get_resume_url }}">Resume</a>
            <a class="btn btn-mini" href="{{ u.get_delete_url }}">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% block additional_info %}{% endblock %}

  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

{% if enough_storage %}

  <!-- Uploader form -->
  <div id="uploader">
    <div id="upload_form_con" class="well">
      <form id="upload_form" enctype="multipart/form-data" method="POST">

        <label>Upload files</label>
        <input type="file" multiple="" name="files[]" />
        <input type="submit" value="Send files to server" />
      </form>
    </div>
  </div>

  <div id="dropzone" class="well"> </div>

  <div id="file-container"></div>

</div>

{% endif %}

{% endblock %}


{% block footer-extend %}

<script src="{% static "fileupload/js/jquery.ui.widget.js" %}"></script>
<script src="{% static "fileupload/js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "fileupload/js/jquery.fileupload.js" %}"></script>
<script src="{% static "fileupload/js/jquery.fileupload-fp.js" %}"></script>
<script src="{% static "fileupload/js/jquery.fileupload-fp.js" %}"></script>

<script type="text/javascript" src="{% static "script/layer_upload.js" %}"></script>

<script type="text/javascript">
{% autoescape off %}

$(function() { 

  setup({
      csrf_token : "{{ csrf_token }}",
      form_target : "{% url data_upload %}",
      user_lookup : "{% url geonode.views.ajax_lookup %}"
  });

}); 

{% endautoescape %}
</script>



{% endblock %}


{% block sidebar %}
<div class="threecol">
    
{% if enough_storage %}
<h3>{%trans "Permissions"  %}</h3>

<div id="permissions_form"></div>
{% endif %}
{% endblock %}
